<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.api.ctc.dao.ConsultHstInqrySendDao">
   
   
<sql id="pagingHeader">
SELECT T.*
  FROM ( SELECT ROWNUM AS ROW_INDEX
              , A.*
           FROM (
</sql>
<sql id="pagingFooter">
                  ) A ) T
 WHERE   T.ROW_INDEX BETWEEN NVL(#{firstRecordIndex},1) AND NVL(#{lastRecordIndex},30)
</sql>
    
<sql id="sqlConditions">
	WHERE A.CNSL_HIST_NO = B.CNSL_HIST_NO
	  AND A.ASP_CUST_KEY = 'CERAGEM'
	  
	<choose>
		<when test="itgCustNo != null and itgCustNo != '' "> --스트링 ,30자
             AND A.CUST_NO = #{itgCustNo} 
             <if test="startDt != null and startDt != ''">
             	AND to_char(A.REG_DTTM,'yyyymmdd')<![CDATA[ >]]> #{startDt}
             </if>
             <if test="endDt != null and endDt != ''">
             	AND to_char(A.REG_DTTM,'yyyymmdd')<![CDATA[ < ]]>#{endDt}
             </if>
             <if test="custTelNo != null and custTelNo != ''">
             	AND A.CUST_TEL_NO = DAMO.ENCRYPT_VAR_B64('AES_256',#{custTelNo},'')
             </if>
		</when>
		<otherwise>
             AND to_char(A.REG_DTTM,'yyyymmdd')<![CDATA[ >]]> #{startDt}
             AND to_char(A.REG_DTTM,'yyyymmdd')<![CDATA[ < ]]>#{endDt}
             AND A.CUST_TEL_NO = DAMO.ENCRYPT_VAR_B64('AES_256',#{custTelNo},'')
             
		</otherwise>			
	</choose>	  
</sql>

<sql id="sqlDetailConditions">
		  WHERE A.CNSL_HIST_NO = B.CNSL_HIST_NO
		    AND A.ASP_CUST_KEY = 'CERAGEM'
		    AND A.CNSL_HIST_NO = #{cnslHistNo} 
</sql>

<sql id="sqlCols">
	               A.CNSL_HIST_NO						/*상담이력번호*/
			     , A.CNSL_BEGIN_DATE					/*상담일시*/
			     , A.CNSL_BEGIN_TIME					/*상담시간*/
			     , A.CUST_NO		 AS ITG_CUST_NO		/*고객번호*/					
	             , (SELECT CD_NM 
	                 FROM PLT_COMN_CD 
	                WHERE GROUP_CD  ='PLT043'
	                  AND A.CALL_TY = CD) AS CALL_TY	/*콜타입*/          
	            , (SELECT CD_NM 
	                 FROM PLT_COMN_CD 
	                WHERE GROUP_CD  ='PLT044'
	                  AND A.CHANNEL = CD) AS CHANNEL   /*인입채널*/
			     , B.PRODUCT_NM							/*제품명*/
			     , B.PRODUCT_CD 						/*제품코드*/
			     , A.AS_RECP_NO							/*as접수번호*/
			     , A.CUST_NM							/*고객명*/			     
			     , DAMO.DECRYPT_VAR_B64('AES_256',CUST_TEL_NO,'') AS CUST_TEL_NO  /*인입접수번호*/
			     , B.CNSL_TYP_CD						/*상담유형*/
			     , B.CNSL_TYP_CD_2						/*상담유형2*/
			     , B.CNSL_TYP_CD_3						/*상담유형3*/
		         , (SELECT CNSL_TYP_NM 
	                 FROM PLT_CHT_CNSL_TYP T1
	                WHERE T1.ASP_CUST_KEY = 'CERAGEM'
	                  AND B.CNSL_TYP_CD = T1.CNSL_TYP_CD
	                  AND T1.CNSL_TYP_DIV_CD = '1'
	               ) AS CNSL_TYP_NM
		         , (SELECT CNSL_TYP_NM 
	                 FROM PLT_CHT_CNSL_TYP T2
	                WHERE T2.ASP_CUST_KEY = 'CERAGEM'
	                  AND B.CNSL_TYP_CD_2 = T2.CNSL_TYP_CD
	                  AND T2.CNSL_TYP_DIV_CD = '2'
	               ) AS CNSL_TYP_NM_2
	            , (SELECT CNSL_TYP_NM 
	                 FROM PLT_CHT_CNSL_TYP T3
	                WHERE T3.ASP_CUST_KEY = 'CERAGEM'
	                  AND B.CNSL_TYP_CD_3 = T3.CNSL_TYP_CD
	                  AND T3.CNSL_TYP_DIV_CD = '3'
	               ) AS CNSL_TYP_NM_3
			     , A.CMPL_YN
			     , A.RDWT_ID									/*녹취ID*/
			     , (SELECT USER_NM FROM PLT_USER WHERE USER_ID = A.REGR_ID) AS USER_NM     /*등록자명*/
</sql>
<sql id="sqlDetailCols">
			   A.CNSL_HIST_NO						/*상담이력번호*/
		     , A.CNSL_BEGIN_DATE					/*상담일시*/
		     , A.CNSL_BEGIN_TIME					/*상담시간*/
             , (SELECT CD_NM 
                 FROM PLT_COMN_CD 
                WHERE GROUP_CD  ='PLT043'
                  AND A.CALL_TY = CD) AS CALL_TY	/*콜타입*/          
            , (SELECT CD_NM 
                 FROM PLT_COMN_CD 
                WHERE GROUP_CD  ='PLT044'
                  AND A.CHANNEL = CD) AS CHANNEL   /*인입채널*/
		     , B.PRODUCT_NM							/*제품명*/
		     , B.PRODUCT_CD 						/*제품코드*/
		     , A.AS_RECP_NO							/*as접수번호*/
		     , A.CUST_NM							/*고객명*/
		     , DAMO.DECRYPT_VAR_B64('AES_256',A.CUST_TEL_NO,'') AS CUST_TEL_NO  /*인입접수번호*/
		     , B.CNSL_TYP_CD						/*상담유형*/
		     , B.CNSL_TYP_CD_2						/*상담유형2*/
		     , B.CNSL_TYP_CD_3						/*상담유형3*/
          	 , (SELECT CNSL_TYP_NM 
                  FROM PLT_CHT_CNSL_TYP T1
                 WHERE T1.ASP_CUST_KEY = 'CERAGEM'
                   AND B.CNSL_TYP_CD = T1.CNSL_TYP_CD
                   AND T1.CNSL_TYP_DIV_CD = '1'
               ) AS CNSL_TYP_NM
	         , (SELECT CNSL_TYP_NM 
                 FROM PLT_CHT_CNSL_TYP T2
                WHERE T2.ASP_CUST_KEY = 'CERAGEM'
                  AND B.CNSL_TYP_CD_2 = T2.CNSL_TYP_CD
                  AND T2.CNSL_TYP_DIV_CD = '2'
               ) AS CNSL_TYP_NM_2
             , (SELECT CNSL_TYP_NM 
                  FROM PLT_CHT_CNSL_TYP T3
                 WHERE T3.ASP_CUST_KEY = 'CERAGEM'
                   AND B.CNSL_TYP_CD_3 = T3.CNSL_TYP_CD
                   AND T3.CNSL_TYP_DIV_CD = '3'
                ) AS CNSL_TYP_NM_3
		     , A.CMPL_YN
		     , A.RDWT_ID									/*녹취ID*/
		     , (SELECT USER_NM FROM PLT_USER WHERE USER_ID = A.REGR_ID) AS USER_NM     /*등록자명*/
		     , B.PROC_CODE_LCLS									 /*처리코드*/
	         , (SELECT CD_NM 
	              FROM PLT_COMN_CD 
	             WHERE GROUP_CD  ='CO001'
	              AND CD = B.PROC_CODE_LCLS) AS PROC_NM_LCLS     /*처리코드명*/
		     , B.CNSL_CNTN 										 /*상담내용*/
		     , B.REPLE_CNTN										 /*답변내용*/
</sql>
    
  
<select id="selectList"  resultType="com.ceragem.api.ctc.model.ConsultHstInqrySendVo">
	<include refid="pagingHeader"/>
		SELECT <include refid="sqlCols"/>
		FROM PLT_PHN_CNSL A,
			 PLT_PHN_CNSL_DTL B
		<include refid="sqlConditions"/>	 
       <include refid="pagingFooter"/>
</select>




<select id="selectListDetail"  resultType="com.ceragem.api.ctc.model.ConsultHstInqryDetailSendVo">
	<include refid="pagingHeader"/>
		SELECT <include refid="sqlDetailCols"/>
		 FROM PLT_PHN_CNSL A,
			  PLT_PHN_CNSL_DTL B
	   <include refid="sqlDetailConditions"/>
       <include refid="pagingFooter"/>
</select>
  


		
</mapper>
